.container{
    overflow: hidden;
}
.tab{
    float: left;
}
.tab-2{
    margin-left: 50px;
}
.tab-2 input{
    display:block;
    margin-bottom:10px ;
}
tr{transition: all
.25s ease-in-ouit}

tr:hover{
    background-color: rgb(124, 55, 55);cursor:pointer;
}